.div-container {
  height: 100%;
  width: 100%;
  padding: 5px;
}
.select-date-col {
  height: 50px;
  width: 100%;
  // コストデータの取得月のプルダウン
  .select-items-cost {
    position: relative;
    height: 100%;
    width: 90%;
    min-width: 250px;
    .select-box {
      height: 40px;
      width: 100%;
    }
  }
}
// コスト取得ボタン
.get-cost-btn {
  margin: auto;
}
// 説明文
.explain-div {
  width: 100%;
  color: rgb(var(--v-theme-fontColor));
  .explain-caution {
    font-size: 14px;
    color: rgb(var(--v-theme-fontColor));
  }
}
// コストデータ表示領域
.cost-result-box {
  position: relative;
  width: 100%;
  margin: 5px;
  padding: 5px;
}
// コストデータ表示領域
.cost-result-div {
  position: relative;
  height: 200px;
  width: calc(100% - 10px);
  overflow: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  resize: none;
  span {
    display: block;
  }
  &.no-cost-data {
    color: rgb(var(--v-theme-disabledFontColor));
    border: 1px dashed rgb(var(--v-theme-disabledFontColor));
  }
}
// s3関連の設定表示
.s3-setting-div {
  position: relative;
  height: 50px;
  width: 100%;
  .s3-bucketlist-div {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    // バケット取得ボタン
    .s3bucket-btn {
      width: 80px;
      left: 0px;
    }
    // バケットのプルダウン
    .select-items-bucket {
      position: relative;
      height: 40px;
      width: calc(100% - 100px);
      padding: 5px;
      left: 100px;
      .select-box {
        width: 100%;
        height: 40px;
        &:disabled {
          background-color: rgb(var(--v-theme-disabledBorderColor));
        }
      }
    }
  }
}
// ファイル一覧取得ボタン
.getFile-btn {
  width: 150px;
}
.s3-file-setting {
  position: relative;
  display: flex;
  height: 40px;
  width: 100%;
  .filename-input {
    margin-right: 10px;
    height: 40px;
    max-width: 300px;
    width: calc(100% - 110px);
  }
  .select-items-filetype {
    position: relative;
    width: 100px;
  }
}
// S3に保存ボタン
.save-btn {
  position: relative;
  width: 100px;
}
// ダイアログでS3への保存ボタンを押したときの表示
.dialog-save-data {
  .v-col-12 {
    line-height: 30px;
    padding: 0;
  }
}
@media screen and (max-width: 599.99px) {
  .item-name-small {
    margin-left: 12px;
    padding: 0;
  }
  .select-date-col {
    // コストデータの取得月のプルダウン
    .select-items-cost {
      width: 100%;
    }
  }
  .s3-setting-div {
    height: 40px;
    .s3-bucketlist-div {
      // バケットのプルダウン
      .select-items-bucket {
        left: 70px;
        width: calc(100% - 65px);
        min-width: 150px;
      }
      // バケット取得ボタン
      .s3bucket-btn {
        width: 60px;
        margin: 0;
      }
    }
  }
}
