<div>
  <div class="modal_wrap">
    <input id="trigger" type="checkbox" v-model="value" />
    <div class="modal_overlay">
      <label for="trigger" class="modal_trigger"></label>
      <div class="modal_content">
        <v-btn
          v-show="buttonCount === 0 || showcrossicon"
          class="close_button"
          @click="clickBatu"
          icon
          >✖️</v-btn
        >
        <h2 v-show="title !== ''">{{title}}</h2>
        <div class="dialogContent">
          <template>
            <slot></slot>
          </template>
        </div>
        <div class="dialogButtons" v-show="buttonCount !== 0">
          <div
            v-show="buttonCount === 1"
            class="buttons-position absoluteCenter"
          >
            <v-btn @click="clickOk" class="appButton"> {{okText}} </v-btn>
          </div>
          <div
            v-show="buttonCount === 2"
            class="buttons-position absoluteCenter"
          >
            <v-btn @click="clickOk" class="appButton"> {{okText}} </v-btn>
            <v-btn @click="clickCancel" class="appButton">
              {{cancelText}}
            </v-btn>
          </div>
          <div
            v-show="buttonCount === 3"
            class="buttons-position absoluteCenter"
          >
            <v-btn @click="clickOk" class="appButton"> {{okText}} </v-btn>
            <v-btn @click="clickCancel" class="appButton">
              {{cancelText}}
            </v-btn>
            <v-btn @click="clickCustom" class="appButton">
              {{customText}}
            </v-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
