<v-container>
  <v-row style="height: 53px">
    <v-col cols="12" class="teamsSendSetting">
      <span>業務開始・終了時にTeamsにメッセージを送信する</span>
      <div class="teamsicon">
        <img
          v-show="sendMessageFlag"
          class="absoluteCenter"
          style="height: auto; width: 30px"
          src="~/assets/icons/icons8-microsoft-teams-2019-128.svg"
        />
        <img
          v-show="!sendMessageFlag"
          class="absoluteCenter"
          style="height: auto; width: 33px"
          src="~/assets/icons/icons8-microsoft-teams-2019-200.svg"
        />
      </div>
      <v-switch
        v-model="sendMessageFlag"
        class="teamsSettingSwitch"
        color="primary"
        hide-details
      ></v-switch>
    </v-col>
  </v-row>

  <!--設定ボタン-->
  <v-btn
    class="work-setting-btn"
    :icon="mdiCog"
    color="fontColor"
    variant="text"
    @click="settingTeamsDialog=true"
    :disabled="!sendMessageFlag"
  >
  </v-btn>

  <!--テスト-->
  <v-row class="worktime-show" style="height: 30px">
    <v-col cols="6"><span>開始時刻：{{starttimeStr}}</span></v-col>
    <v-col cols="6"><span>終了時刻：{{endtimeStr}}</span></v-col>
  </v-row>

  <div class="work-div">
    <v-btn
      v-show="!startWorkingFlag"
      class="work-start-btn absoluteCenter"
      @click="clickStart"
      :disabled="isSetting"
      >業務開始</v-btn
    >
    <div v-show="startWorkingFlag" class="work-end-div">
      <v-btn class="work-end-btn" @click="restWork">
        <span v-show="!restWorkingFlag">休憩</span>
        <span v-show="restWorkingFlag">
          <p>{{resttimeStr}}から休憩中</p>
          <span>休憩終了</span>
        </span>
      </v-btn>
      <v-btn class="work-end-btn" @click="endWork" :disabled="isSetting"
        >業務終了</v-btn
      >
    </div>
  </div>

  <!--Teamsの設定ダイアログ-->
  <DialogAppdialog
    :value="settingTeamsDialog"
    title="Teams送信設定"
    :buttonCount="2"
    :width="500"
    :disabledOK="disabledsavebtn"
    @clickOk="teamsSettingOK"
    @clickCancel="teamsSettingCancel"
  >
    <div class="work-setting-div">
      <v-row>
        <p>
          webhookのURLとメッセージの内容を設定することで、業務開始・終了時にteamsにメッセージを送信することができます。
        </p>
        <p>
          webhookの設定方法は<a
            href="https://learn.microsoft.com/ja-jp/microsoftteams/platform/webhooks-and-connectors/how-to/add-incoming-webhook?tabs=dotnet"
            target="_blank"
            >受信webhookを作成する</a
          >を参照してください。
        </p>
      </v-row>
      <v-row class="mt-7 dialog-input-row">
        <v-col cols="12" class="ma-0 pa-0">
          <span> webhook* </span>
        </v-col>
        <v-col cols="12" class="ma-0 pa-0">
          <input class="appInput" v-model="json_teams_data.webhook" />
        </v-col>
      </v-row>
      <v-row class="mt-7 dialog-input-row">
        <v-col cols="12" class="ma-0 pa-0">
          <span> 業務開始</span>
        </v-col>
        <v-row class="ma-1">
          <v-col cols="3" class="ma-0 pa-0"> <span>タイトル</span> </v-col>
          <v-col cols="9" class="ma-0 pa-0">
            <input class="appInput" v-model="json_teams_data.start_title" />
          </v-col>
          <v-col cols="3" class="ma-0 mt-1 pa-0">
            <span>メッセージ* </span></v-col
          >
          <v-col cols="9" class="ma-0 mt-1 pa-0">
            <input class="appInput" v-model="json_teams_data.start_text" />
          </v-col>
        </v-row>
      </v-row>
      <v-row class="mt-7 dialog-input-row">
        <v-col cols="12" class="ma-0 pa-0">
          <span> 業務終了</span>
        </v-col>
        <v-row class="ma-1">
          <v-col cols="3" class="ma-0 pa-0"> <span>タイトル</span> </v-col>
          <v-col cols="9" class="ma-0 pa-0">
            <input class="appInput" v-model="json_teams_data.end_title" />
          </v-col>
          <v-col cols="3" class="ma-0 mt-1 pa-0">
            <span>メッセージ*</span>
          </v-col>
          <v-col cols="9" class="ma-0 mt-1 pa-0">
            <input class="appInput" v-model="json_teams_data.end_text" />
          </v-col>
        </v-row>
      </v-row>
    </div>
  </DialogAppdialog>
  <!--業務終了時のお疲れ様ダイアログ-->
  <DialogAppdialog
    :value="finishDialog"
    title="お疲れ様でした！！"
    :buttonCount="1"
    :width="500"
    @clickOk="finishDialog = false"
  >
    <v-row>
      <span>本日の就業時間は</span>
      <v-col cols="12"> 開始時刻：{{starttimeStr}} </v-col>
      <v-col cols="12"> 終了時刻：{{endtimeStr}} </v-col>
      <v-col cols="12"> 就業時間：{{allworktimeStr}} </v-col>
      <span>でした！</span>
    </v-row>
  </DialogAppdialog>
  <!--お知らせ関係-->
  <DialogAppdialog
    :value="dialog"
    :title="dialogProps.title"
    :buttonCount="dialogProps.buttonCount"
    :width="dialogProps.width"
    @clickOk="dialogOK"
    @clickCancel="dialogCancel"
    @clickBatu="dialogCancel"
  >
    {{dialogProps.message}}
  </DialogAppdialog>
</v-container>
