<template>
  <div class="text-center">
    <v-dialog v-model="value" :width="width != 0 ? width : 'auto'" persistent>
      <v-card>
        <button
          v-show="buttonCount === 0 || showcrossicon"
          class="close_button"
          @click="clickBatu"
        >
          ✖️
        </button>
        <v-card-title v-show="title !== ''">
          <h3>{{title}}</h3>
        </v-card-title>
        <v-card-text class="dialogContent">
          <slot></slot>
        </v-card-text>
        <v-card-actions v-show="buttonCount > 0" class="dialogButtons">
          <v-btn v-if="buttonCount > 1" @click="clickCancel" class="appButton">
            {{cancelText}}
          </v-btn>
          <v-btn
            v-if="buttonCount > 2"
            @click="clickCustom"
            class="appButton"
            :disabled="disabledCustom"
          >
            {{customText}}
          </v-btn>
          <v-btn @click="clickOk" class="appButton" :disabled="disabledOK">
            {{okText}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
