.cursorPointer {
  cursor: pointer;
}
.cursorDefault {
  cursor: default;
}
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.v-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  .v-row,
  .v-col {
    margin: 0;
    padding: 0;
  }
}
.appInput {
  padding: 5px 10px;
  color: rgb(var(--v-theme-fontColor));
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(var(--v-theme-borderColor));
  &:focus {
    border: 1px solid rgb(var(--v-theme-primary));
  }
  &:disabled {
    background-color: rgb(var(--v-theme-disabledFontColor));
    border: 1px solid rgb(var(--v-theme-disabledBorderColor));
  }
}
.appButton {
  height: 30px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
}
