.cursorPointer {
  cursor: pointer;
}
.cursorDefault {
  cursor: default;
}
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.absoluteCenterH {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.absoluteCenterW {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.v-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  .v-row {
    margin: 0;
    padding: 0;
  }
}
.appInput {
  padding: 5px 10px;
  // color: rgb(var(--v-theme-fontColor));
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(var(--v-theme-borderColor));
  &:focus {
    border: 1px solid rgb(var(--v-theme-primary));
  }
  &:disabled {
    background-color: rgb(var(--v-theme-disabledFontColor));
    border: 1px solid rgb(var(--v-theme-disabledBorderColor));
  }
}
.appButton {
  //
}
.v-select {
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
//スクロールバーデザイン
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  opacity: 0.6;
  background-image: linear-gradient(180deg, rgba(var(--v-theme-primary), 0.5), rgba(var(--v-theme-primary), 1));
  border-radius: 2.5px;
}
